name: Dead code analysis
on:
  workflow_dispatch: # Manual trigger only, covered by ci.yml
jobs:
  deadnix:
    name: Deadnix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Cachix (optional cache)
        uses: cachix/cachix-action@v16
        with:
          name: premsnix
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        continue-on-error: true
      - uses: astro/deadnix-action@main
        with:
          commit_message: "chore: remove dead code"
