name: Setup Nix
description: Install and configure Nix with cachix
inputs:
  cachix-auth-token:
    description: Cachix authentication token
    required: false
  accept-flake-config:
    description: Accept flake config
    required: false
    default: "false"
runs:
  using: composite
  steps:
    - uses: cachix/install-nix-action@v23
      with:
        install_url: https://releases.nixos.org/nix/nix-2.18.1/install
        extra_nix_config: |
          accept-flake-config = ${{ inputs.accept-flake-config }}
    - uses: cachix/cachix-action@v16
      if: inputs.cachix-auth-token != ''
      with:
        name: premsnix
        authToken: ${{ inputs.cachix-auth-token }}
      continue-on-error: true
