name: Lint GitHub Actions Workflows
on: [push, pull_request]
jobs:
  actionlint:
    name: Actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          install_url: https://nixos.org/nix/install
      - name: Cachix (optional cache)
        uses: cachix/cachix-action@v15
        with:
          name: premsnix
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        continue-on-error: true
      - name: Run actionlint via dev shell
        run: nix develop .#default -c actionlint
